<section class="populares-section invisible">
  <img class="populares" src="https://iili.io/HUkxMYu.png" alt="">
</section>

<section class="destacadas-section invisible">
  <div class="destacadas-div">
    <img class="arrow-d invisible" style="height: 30px; position:absolute;" src="https://iili.io/HgSBtEu.png" alt="">
    <a href="/bdp31_DisplayType_G">
      <img class="destacadas-img" src="https://iili.io/Hg8Ns3X.png" alt="">
      <img class="destacadas-nombres" src="https://iili.io/HriyImF.webp" alt="">
    </a>
    <img class="arrow-d" style="height: 30px; transform: rotate(180deg); position:absolute;" src="https://iili.io/HgSBtEu.png" alt="">
    <a href="/bdp34_DisplayType_G">
      <img class="destacadas-img" src="https://iili.io/Hg8NP4t.png" alt="">
      <img class="destacadas-nombres" src="https://iili.io/Hriyze1.webp" alt="">
    </a>
    <a href="/bdp33_DisplayType_G">
      <img class="destacadas-img" src="https://iili.io/Hg8N6GI.png" alt="">
      <img class="destacadas-nombres" src="https://iili.io/HriyodB.webp" alt="">
    </a>
    <a href="/bdp32_DisplayType_G">
      <img class="destacadas-img" src="https://iili.io/Hg8N4CN.png" alt="">
      <img class="destacadas-nombres" src="https://iili.io/Hriyx5P.webp" alt="">
    </a>  </div>
</section>
{{!-- <section class="arrow-destacadas">
  <img class="arrow-d" style="height: 50px; transform: rotate(180deg);" src="https://iili.io/HO1AEEQ.png" alt="">
  <img class="arrow-d" style="height: 50px; " src="https://iili.io/HO1AEEQ.png" alt="">
</section> --}}

<section class="video-section invisible">
  <div class="div-main-video">
    <div class="div-video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/gT4VyRCE9GU"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/gT4VyRCE9GU?autoplay=1><img src=https://img.youtube.com/vi/gT4VyRCE9GU/hqdefault.jpg alt='Video Super viaje de emociones - Barco de papel Didácticos'><span>▶</span></a>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="Super viaje de emociones - Barco de papel Didácticos"></iframe>
    </div>
    <div class="video-texto">
      <img src="https://iili.io/HUgCP0N.png" alt="">
      <p>El viaje de emociones es un juego para hablar de lo que nos pasa.  Contiene un tablero, donde el recorrido es un viaje que se hace con todos los participantes y el Gato Bigotes como acompañante. Al caer en distintos casilleros los jugadores levantan tarjeta que los invita a expresar sus emociones de diferentes maneras. El primero el llegarse convierte en el Guía emocional de juego y colabora para que todos consigan terminar el juego.</p>
    </div>
  </div>
</section>

  <img src="https://iili.io/Hg07SCN.png" class="olas invisible" style="position:relative; top:8px;" alt="">
<section class="edades-section invisible">
  <div class="edades-div">
    <h4>Juguetes por edad</h4>
    <div class="edades-imgs-div">
      <div>
        <a href="/_DisplayType_G_MIN*RECOMMENDED*AGE_1años-3años_NoIndex_True#applied_filter_id%3DMIN_RECOMMENDED_AGE%26applied_filter_name%3DEdad+mínima+recomendada%26applied_filter_order%3D6%26applied_value_id%3D1-3%26applied_value_name%3D1-3%26applied_value_order%3D6%26applied_value_results%3DUNKNOWN_RESULTS%26is_custom%3Dtrue"><img src="https://iili.io/HSWMn7p.png" alt=""></a>
        <p>+18 Meses</p>
      </div>
      <div>
        <a href="/_DisplayType_G_MIN*RECOMMENDED*AGE_3años-5años_NoIndex_True#applied_filter_id%3DMIN_RECOMMENDED_AGE%26applied_filter_name%3DEdad+mínima+recomendada%26applied_filter_order%3D6%26applied_value_id%3D3-5%26applied_value_name%3D3-5%26applied_value_order%3D6%26applied_value_results%3DUNKNOWN_RESULTS%26is_custom%3Dtrue"><img src="https://iili.io/HSWMokN.png" alt=""></a>
        <p>+3 Años</p>
      </div>
      <div>
        <a href="/_DisplayType_G_MIN*RECOMMENDED*AGE_5años-6años_NoIndex_True#applied_filter_id%3DMIN_RECOMMENDED_AGE%26applied_filter_name%3DEdad+mínima+recomendada%26applied_filter_order%3D6%26applied_value_id%3D5-6%26applied_value_name%3D5-6%26applied_value_order%3D6%26applied_value_results%3DUNKNOWN_RESULTS%26is_custom%3Dtrue"><img src="https://iili.io/HSWMC2R.png" alt=""></a>
        <p>+5 Años</p>
      </div>
       <div>
        <a href="/_DisplayType_G_MIN*RECOMMENDED*AGE_6años-8años_NoIndex_True#applied_filter_id%3DMIN_RECOMMENDED_AGE%26applied_filter_name%3DEdad+mínima+recomendada%26applied_filter_order%3D6%26applied_value_id%3D6-8%26applied_value_name%3D6-8%26applied_value_order%3D6%26applied_value_results%3DUNKNOWN_RESULTS%26is_custom%3Dtrue"><img src="https://iili.io/HUeeJS9.jpg" alt=""></a>
        <p>+6 Años</p>
      </div>
      <div>
        <a href="/_DisplayType_G_MIN*RECOMMENDED*AGE_8años-12años_NoIndex_True#applied_filter_id%3DMIN_RECOMMENDED_AGE%26applied_filter_name%3DEdad+mínima+recomendada%26applied_filter_order%3D6%26applied_value_id%3D8-12%26applied_value_name%3D8-12%26applied_value_order%3D6%26applied_value_results%3DUNKNOWN_RESULTS%26is_custom%3Dtrue"><img src="https://iili.io/HSWMqrv.png" alt=""></a>
        <p>+8 Años</p>
      </div>
      <div>
        <a href="/_DisplayType_G_MIN*RECOMMENDED*AGE_12años-*_NoIndex_True#applied_filter_id%3DMIN_RECOMMENDED_AGE%26applied_filter_name%3DEdad+mínima+recomendada%26applied_filter_order%3D6%26applied_value_id%3D12-*%26applied_value_name%3D12-*%26applied_value_order%3D6%26applied_value_results%3DUNKNOWN_RESULTS%26is_custom%3Dtrue"><img src="https://iili.io/HSWMxpI.png" alt=""></a>
        <p>+12 Años</p>
      </div>
    </div>
  </div>
</section>
  <img src="https://iili.io/Hg07SCN.png" class="olas invisible" style="transform: rotate(180deg); position: relative; top: -5px;" alt="">

    <img src="https://iili.io/HgqUi5x.png" class="olas invisible" style="position:relative; top:8px;" alt="">
<section class="blog-section invisible">
    <div class="blog-div">
      <div class="blog-titulos">
        <p>Consulta nuestro blog</p>
        <h4>Últimos artículos</h4>
        <p>Los mantenemos siempre informados con la novedades.</p>
      </div>
      <div class="articles-div">
        <div class="article">
          <a href="/55-feria-del-juguete" class="article-img1">
            <div>
              <p class="dia">30</p>
              <p class="mes">AGO</p>
            </div>
          </a>
          <div class="article-text">
            <a href="/55-feria-del-juguete">55° FERIA DEL JUGUETE</a>
            <p>Nos encanta participar de la feria del juguete organizada por la CAIJ en Costa Salguero, pero ésta edición fue algo especial. Nos reuni...</p>
          </div>
        </div>
        <div class="article">
          <a href="/rompecabezas-y-sus-beneficios" class="article-img2">
            <div>
              <p class="dia">19</p>
              <p class="mes">SEP</p>
            </div>
          </a>
          <div class="article-text">
            <a href="/rompecabezas-y-sus-beneficios">ROMPECABEZAS Y SUS BENEFICIOS</a>
            <p>Hace poco incorporamos a nuestra familia los rompecabezas, comenzamos con 4 títulos y ahora tenemos 20. Nuestra variedad en cantidad de...</p>
          </div>
        </div>
      </div>
      
    </div>
</section>
  <img src="https://iili.io/HgqUi5x.png" class="olas invisible" style="transform: rotate(180deg); position: relative; top: -5px;" alt="">


{{!-- {{#if subscriptionFooter.active}}
  {{> explorer/views/partials/suscription}}
{{/if}} --}}
<img src="https://iili.io/HgqUPJj.png" class="olas" style="position:relative; top:8px;" alt="">
<footer class="explorer-footer-contact-container">
  <div class="explorer-footer-contact">
    {{!-- <div class="explorer-footer-contact-logo">
        {{#if logo}}
        <a class="nav-explorer-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="nav-header__image-footer" src="{{logo}}" alt="{{name}}" itemprop="logo" />
        </a>
        {{else}}
        <h3 class="nav-footer-contact-title header--custom-text">
          <a href="/">{{name}}</a>
        </h3>
        {{/if}}
        {{#if logoCaption}}
        <div class="explorer-footer__brand-col header--custom-text header--custom-background">
          <p class="explorer-footer__logo-caption">{{{logoCaption}}}</p>
        </div>
        {{/if}}
    </div> --}}

    <div class="nav-bounds nav-bounds--contact">
      <div class="footer-contacto-div">
        <h5>Contactate con nosotros</h5>
        <div class="div-redes">
          <a href="https://www.facebook.com/barcodepapeldidacticos/" target="_blank">barcodepapeldidacticos<svg class="redes" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M24,12A12,12,0,1,0,10.12,23.87V15.48h-3V12h3V9.37c0-3,1.79-4.67,4.53-4.67a18,18,0,0,1,2.68.24V7.89H15.82a1.73,1.73,0,0,0-2,1.87V12h3.32l-.53,3.47H13.87v8.39A12,12,0,0,0,24,12Z">
          </svg></a>
          <a href="https://www.instagram.com/barcodepapeldidacticos/?hl=es" target="_blank">@barcodepapeldidacticos<svg class="redes" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z">
          </svg></a>
        </div>
        <p> (+54) 11 5175-1717<img class="icons-footer" src="https://iili.io/Hgm0hxt.png" alt=""></p>
        {{!-- <p> (+54) 11 5175-1717<img class="icons-footer" src="https://iili.io/HgmGtdG.png" alt=""></p> --}}
        <p> contacto@barcodepapel.com.ar<img class="icons-footer" src="https://iili.io/Hgbm0a1.png" alt=""></p>
        {{!-- <p> contacto@barcodepapel.com.ar<img class="icons-footer" src="https://iili.io/HgmGQgs.png" alt=""></p> --}}
        {{!-- <h5 class="explorer-footer__contact-title">{{{i18n.contact}}}</h5>
        <div class="explorer-footer__social-media">
          {{#each socialNetworks}}
          <a href="{{url}}" target="_blank" class="explorer-header__svg" rel="noopener noreferrer nofollow">
            {{> (concat 'explorer/views/partials/icons/' (lookup . 'name'))}}
          </a>
          {{/each}}
        </div>
        {{#if showContact}}
        <ul class="explorer-footer__contact header--custom-border">
          <meta itemprop="contactType" content="customer service" />
          <li>
            {{#if showPhone}}
            <a id="shop-phone-link" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">
              <span>{{phone.formatted}}</span>
            </a>
            {{/if}}
            {{#if showEmail}}
            <a id="shop-mail-link" itemprop="email" href="mailto:{{email}}" rel="nofollow">
              <span>{{email}}</span>
            </a>
            {{/if}}
          </li>
          {{#if address}}
          <li>
            <a id="shop-address-link" itemprop="streetAddress">
              <span>{{address.address}}</span>
              <span>{{address.city}}</span>
              <span>{{address.state}}</span>
            </a>
          </li>
          {{/if}}
          {{#if contact}}
          <li>
            <a class="header--custom-text contact-button" href="{{contact.href}}" rel="nofollow">
              {{> explorer/views/partials/contact}}
               <span href="{{contact.href}}">{{contact.label}}</span>
            </a>
          </li>
          {{/if}}
        </ul>
        {{/if}}
        {{#if linkToLGPD}}
        <div class="explorer-footer__info-container--desktop">
          <a href="{{linkToHowBuy.href}}">{{linkToHowBuy.label}}</a>
          <span class="explorer-footer-info__separator"> | </span>
          <a href="{{linkToLGPD.href}}">{{linkToLGPD.label}}</a>
          {{#if showBusinessData}}
          {{#with fiscalData}}
          <div class="nav-footer-fiscal-data">
            <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
            <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
          </div>
          {{/with}}
          {{/if}}
          {{#if showQrData}}
          {{#with fiscalData}}
          <a class="explorer-footer__afip-link" href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
          {{/with}}
          {{/if}}
        </div>
        {{/if}} --}}
      </div>
      <div class="logo-footer-div">
        <a class="nav-explorer-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="nav-header__image-footer" src="{{logo}}" alt="{{name}}" itemprop="logo" />
        </a>
      </div>
      <div class="footer-categorias-div">
        <h5>Categorías</h5>
        <a href="/bdp32_DisplayType_G">Cartas Didácticas</a>
        <a href="/bdp31_DisplayType_G">Juegos de Mesa</a>
        <a href="/bdp33_DisplayType_G">Libros Móviles</a>
        <a href="/bdp34_DisplayType_G">Rompecabezas</a>
        {{!-- <h5 class="explorer-footer__menu-title">{{dropdown_title_text}}</h5>
        <div class="explorer-footer__categories-col">
          {{#each menu}}
          <span class="explorer-footer__category">
            <a href="{{url}}" data-id="{{id}}">
              {{name}}
            </a>
          </span>
          {{/each}}
        </div> --}}
      </div>
    </div>
  </div>

  <div class="explorer-footer-info explorer-footer-info">
    {{#if linkToLGPD}}
    <div class="explorer-footer__info-container--mobile">
      <a href="{{linkToHowBuy.href}}">{{linkToHowBuy.label}}</a>
      <span class="explorer-footer-info__separator"> | </span>
      <a href="{{linkToLGPD.href}}">{{linkToLGPD.label}}</a>
      {{#if showBusinessData}}
      {{#with fiscalData}}
      <div class="nav-footer-fiscal-data">
        <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
        <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
      </div>
      {{/with}}
      {{/if}}
      {{#if showQrData}}
      {{#with fiscalData}}
      <a class="explorer-footer__afip-link" href={{qr_link}} target="_F960AFIPInfo">
        <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
      </a>
      {{/with}}
      {{/if}}
    </div>
    {{/if}}
    <div class="galarreta-div">
        <a href="https://galarreta.co/" target="_blank" class="galarreta">Developed by GALARRETA®</a>
      <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="explorer-footer-info__brand">
        {{!-- <span class="explorer-footer-info__separator"> {{i18n.powered_by}}</span> --}}
        <span class="explorer-footer-info__separator"> Powered by Mercado Shops</span>

        {{> explorer/views/partials/icons/mshops}}
        
      </a>
    </div>
  </div>
</footer>
